@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{margin: 0px;
padding: 0px;
font-family: "Rubik", sans-serif;
box-sizing: border-box;
}

body{
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #2c3e50;*/
    background-color: transparent;
    color: white;
    position: sticky;
    top: 0px;
    

}

.logo{
    font-size: 20px;
    font-weight: 500;
    margin: 8px;
}

.navbar-links ul{
    display: flex;

}

.navbar-links ul li{
    list-style: none;
    text-decoration: none;
    color:white;
    
}

.navbar-links ul li a{
    padding: 16px;
    text-decoration: none;
    color:white;
    display: block;
    
}

.navbar-links ul li:hover{
    background-color: #34495e;
}

.btn{
    
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.bar{
    height: 3px;
    width: 100%;
    background-color: white;
}

@media (max-width:600px) {
    .btn{
        display: flex;
    }

    .navbar-links{
        display: none;
       width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
        
    }

    .navbar-links ul li{
        text-align: center;

}

.navbar-links.active{
    display: flex;
}


}


/*---------------------------------*/

.banner{
    height: 580px;
    background-color: black;
    /*border: 1px solid white;*/
    display: flex;
    color: white;
    justify-content: space-around;

}

.folpic{
    height: 580px;
    align-items: flex-start;

}

.titlecard{
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: xx-large;
}
.titlecard p{
    font-size: medium;
    text-align: left;
    width: 550px;
    justify-content: flex-start;
    font-weight: lighter;
}

.icon-button {
    background-color: orangered; 
    color: white;             
    padding: 8px 12px;        
    font-size: 14px;          
    cursor: pointer;          
    border-radius: 50px;       
    display: inline-flex;      
    align-items: center;
    border:none;      
  }
  
  .button-icon {
    width: 16px;              
    height: 16px;
    margin-right: 8px;      
  }
  
  .icon-button:hover {
    background-color: white;
    color: orangered; 
    font-weight: bolder;
  }

  .social-media2{
    display: none;
  }



  

@media (max-width:800px){
    .banner{
        height: 1000px;
        background-color: black;
        /*border: 1px solid white;*/
        display: flex;
        color: white;
        flex-direction: column;
       box-sizing: border-box;
       width: 100%;
       
       justify-content: space-around;
       
        
    
    }

    .folpic{
        width: 300px;
        margin: auto;
       
       
    }

    .titlecard{
        /* border: 1px solid red;*/
         align-items: center;
         justify-content: center;
         display: flex;
         flex-direction: column;
         font-size: 28px;
         padding: 10px;
     }
     .titlecard p{
         font-size: 15px;
         text-align:center;
         width: 100%;
       padding:10px;

         font-weight: lighter;
         text-align: center;
         cursor: pointer;
         background-color: rgba(128, 128, 128, 0.192);
         border-radius: 30px;
     }

 

     .social-media{
        display: none;

     }

    

     .icon-button {
        background-color: orangered; 
        color: white;             
              
              
        cursor: pointer;          
        border-radius: 60px;       
        display: inline-flex;      
        align-items: center;
        border:none;      
        margin-left: 10px;
        
      }

      .button-icon {
        width: 16px;              
        height: 16px;
        margin-right: 8px; 
        margin: auto;
          
      }

      .social-media2{
        display: flex;
        margin: 10px;
        width: 100%;
        justify-content: center;
        
      }

    
      


}


/*-------------------------------------------------------*/

.skill-section{
    height: 500px;
    background-color: black;
    color: white;
    
    justify-content: center;
   
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}

.skills{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.subox{
    display: flex;
    border: 3px solid rgba(255, 255, 255, 0.295);
    border-radius: 20px;
    justify-content: center;
    max-height: 300px;
    align-items: center;
    overflow-x: scroll;
    padding: 150px;
    width: auto;
    scroll-behavior: smooth; 
}

.skills h1{
    font-size: 50px;
    justify-content: center;
    color: orangered;
    text-align: center;
}

.skill-box{
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 30px;
    height: 250px;
    width: 250px;
    margin: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
   
    
    
}

.skill-icon{
    height: 200px;
    width: 200px;
    margin: 5px;
}

@media (max-width:800px){
    
}